.cardBoxShadow1 {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
  }
  
  .cardBoxShadow1 span {
    font-size: 24px;
    font-weight: bold;
    color: #00786c;
  }
  .cardBoxShadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
  }
  .custom-header {
    background-color: #e0f4f2; /* Light version of #00786c */
    color: #00786c;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #00786c;
  }
  
  .custom-row {
    background-color: #f0fdfd; /* Even lighter background for rows */
    color: #00786c;
    border-bottom: 1px solid #cceeea;
  }
  
  .custom-row:hover {
    background-color: #d9f0ec; /* Slightly darker on hover */
  }
  
  .custom-cell {
    padding: 8px;
  }
  
  .flags {
    width: 20px;
    height: auto;
    margin-right: 8px;
  }
  
  .edit-svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  