<div class="software row margin-auto">

  <form [formGroup]="loginForm" class="login-container">
   
    <div class="login-box">
      <div class="d-flex flex-row box-error mb-2" *ngIf="this.errorMsg !==''">
        <img class="caution" src="../../assets/caution.svg">
        <span class="error">{{this.errorMsg}}</span>
      </div>
      <h2>Login</h2>

      <div class="input-fields">
        <label>Email</label>
        <input type="email" [ngClass]="{'redBorder':this.loginForm.get('username')?.value==null}" placeholder="name@xyz.com" formControlName="username">
        <span class="error" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">Please
          enter valid username</span>
      </div>
      <div class="input-fields">
        <label>Password</label>
        <input type="password" [ngClass]="{'redBorder':this.loginForm.get('password')?.value==null}" placeholder="atleast 8 characters" formControlName="password">
        <span class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Please
          enter correct password</span>
      </div>
      <div>
        <button class="mb-3" (click)="changeState()">Sign In</button>
        <span>Don't have an account? <span class="text-blue" (click)="routeToSignUp()">Sign up</span></span>
      </div>
    </div>
  </form>

</div>