<div *ngIf="!this.isNewUser && !this.noUserFunds" class="d-flex flex-row justify-content-between position-relative portfolio-container col-lg-12">
  <!-- Pie Chart Container --> 
  <div class="chart-container flex-grow-1 col-lg-6" >
    <!-- Pie Chart -->
    <p-chart type="pie" [data]="chartData" styleClass="w-full"></p-chart>
  </div>

  <!-- Data Table Container -->
  <div class="table-container flex-grow-1 col-lg-6" >
    <!-- Data Table -->
    <p-table [columns]="columns" [value]="data" [rows]="10">
      <!-- Header Template -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" class="custom-header">
            <span>{{ col.header }}</span>
          </th>
        </tr>
      </ng-template>

      <!-- Body Template -->
      <ng-template pTemplate="body" let-rowData>
        <tr class="custom-row">
          <td *ngFor="let col of columns" class="custom-cell">
            <span *ngIf="col.field !== 'percentage'">{{ rowData[col.field] }}</span>
            <span *ngIf="col.field === 'percentage'">{{ rowData[col.field] }}</span>
          </td>
        </tr>
      </ng-template>

      <!-- Footer Template -->
      <ng-template pTemplate="footer" let-columns>
        <ng-container *ngIf="data.length === 0">
          <tr>
            <td [attr.colspan]="columns.length">
              <span>No Records Found!</span>
            </td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="col-lg-12 align-items-center" *ngIf="this.isNewUser">
  <div class="setup-container">
    <div class="illustration">
      <img src="../../assets/noDataAvl.webp" alt="Account Not Setup" />
    </div>
    <div class="setup-info">
      <h2>Account Not Setup</h2>
      <p>Please set up your account to start tracking investments.</p>
      <ul>
        <li>✅ Connect your bank account</li>
        <li>📊 Set your investment preferences</li>
        <li>📉 Start tracking your portfolio</li>
      </ul>
      <button pButton type="button" label="Set Up Account" class="setup-btn" (click)="routeToSetup()">SetUp Account</button>
    </div>
  </div>
  
</div>
<div *ngIf="this.noUserFunds" class="noFund">
  <div  class="empty-investment-container">
    <h2>Hey {{this.userName}} start building your investment portfolio today!</h2>
    
    <div class="progress-tracker">
      <div class="step">
        <div class="icon">📈</div>
        <p>Choose an asset</p>
      </div>
      <div class="step">
        <div class="icon">📝</div>
        <p>Enter investment details</p>
      </div>
      <div class="step">
        <div class="icon">📊</div>
        <p>Track & analyze</p>
      </div>
    </div>
  
    <button @bounce (click)="routeToInvestment()">Start Investing</button>
  </div>
</div>


