
.initialise {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.options {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    padding: 1em;
    padding-left: 5.5em;

}
.for-invest{
    width: 30em;
    right: 3em;
}

.options>div {
    color: white;
    height: 18em;
    width: 28em;
    border-radius: 10px;
    cursor: pointer;
}

.stock-news {
    background-color: blue;
}
.stocks-box{
    background-color: #FF6384;
   
    /* font-weight: bold; */
}
.stocks-box>span{
    font-size: 30px;
}
.stocks-box:hover{
    background-color: #e44064;
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
.fd-box{
    background-color: #4BC0C0;
}
.fd-box:hover{
    background-color: #21b6b6;
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
.cash-box{
background-color: #36A2EB;
}
.cash-box:hover{
    background-color: #1a8fdd;
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
.crypto-box{
    background-color: #FFCE56;
}
.crypto-box:hover{
    background-color: #edba3a;
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
.asset-svg{
    height: 200px;
}
