<div>
  <div class="cardBoxShadow col-lg-12 d-flex justify-content-between">
    <span>Stocks Dashboard</span>
    <button (click)="routeToStock()">
      + Add Stock
    </button>
  </div>
  <div class="stock-box d-flex flex-row col-lg-12">
    <div class="col-lg-7">
      <div class="cardBoxShadow">
        <img>
        <span>My Stocks</span>
      </div>
      <p-table [columns]="columns" [value]="data" [rows]="10">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" class="custom-header">
              <span>{{ col.header }}</span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr class="custom-row" (click)="storeToEdit(rowData)">
            <td *ngFor="let col of columns" class="custom-cell">
              <span *ngIf="
                col.field!=='action'">{{rowData[col.field]}}</span>
              <span  *ngIf="col.field=='action'"><img class="edit-svg "src="../../../assets/edit-svgrepo-com.svg"></span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns>
          <ng-container *ngIf="data.length === 0">
            <tr>
              <td [attr.colspan]="columns.length">
                <span>No Records Found!</span>
              </td>
            </tr>
          </ng-container>
        </ng-template>
      </p-table>
    </div>
    <app-fetch-news class="col-lg-5"></app-fetch-news>
  </div>
</div>