<!-- news.component.html -->
<div class="position-relative newsSection col-lg-12">
  <!-- Display news only when loading is false -->
  <div class="d-flex flex-column col-lg-12" *ngIf="!(isLoading$ | async) && showNews">
    <div class="n-head">News</div>
    <div class="border-btm"></div>

    <div class="d-flex flex-row bulletins justify-content-around n-news"
      *ngFor="let item of newsArray; let i = index"
      [ngClass]="{'odd-item': i % 2 === 0}">
      <img [src]="item.img" alt="News Image">
      
      <div class="d-flex flex-column news-point">
        <span class="truncate" style="color: #2641ce" [attr.title]="item.heading">{{item.heading | truncate:30}}</span>
        <span class="truncate" style="font-size: 12px;" [attr.title]="item.news">{{item.news | truncate:50}}</span>
        <span style="font-size: 11px;">{{item.date}}</span>
      </div>
    </div>
  </div>
</div>
