.newsSection {
    height: fit-content;
    /* width: 20em; */
    background-color: transparent;
    position: relative; /* Ensure child elements are positioned relative to this */
}

.n-head {
    color: #8e969c;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

.cardBoxShadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 4px 8px 0 transparent;
}

.bulletins {
    cursor: pointer;
    color: #8e969c;
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid #c8c8c8;
    padding: 10px 5px;
    gap: 20px;
}

.bulletins > img {
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 50px;
    width: 70px;
}

/* Toggle button for hiding news */
.toggle {
    background-color: #8e969c;
    position: absolute;
    border-radius: 15px;
    right: -3em; /* Adjust the right positioning relative to the parent */
    top: 0.3em;
    height: 1.5em;
    z-index: 1000;
    width: 3em;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Toggle button for showing news */
.toggle1 {
    background-color: #8e969c;
    /* position: absolute; */
    left: -3em; /* Adjust the left positioning */
    /* top: 0.3em; */
    height: 1.5em;
    z-index: 1000;
    width: 3em;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.border-btm {
    border-bottom: 1px solid #c8c8c8;
}

.news-point {
    position: relative;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust this as needed */
}

.truncate:hover {
    cursor: pointer;
}
